@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&family=Space+Grotesk:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
	--font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
	--font-heading: "Space Grotesk", ui-sans-serif, sans-serif;

	--color-black: #18181B;
	--color-dark-green: #0d2818;
	--color-mid-green: #04471c;
	--color-green: #058c42;
	--color-light-green: #16db65;
	--color-white: #ecf0f1;
}

@layer base {
	*,
	html {
		scroll-behavior: smooth !important;
	}

	body {
		@apply font-sans antialiased;
	}

	h1,
	h2,
	h3,
	h4 {
		@apply font-heading font-extrabold pb-4;
	}

	h1 {
		@apply text-5xl;
	}

	h2 {
		@apply text-3xl;
	}

	h3 {
		@apply text-2xl;
	}

	p {
		@apply text-lg;
	}

	a {
		@apply text-mid-green font-semibold hover:text-green underline hover:no-underline font-heading;
	}

	ul {
		@apply list-disc pl-2;
	}

	ul li {
		@apply text-xl pb-2;
	}
}

.card {
	@apply p-12 border-2 border-black;
}

.slogan {
	white-space: nowrap;
	overflow: hidden;
	@apply text-dark-green;
}

.anim-typewriter {
	animation:
		typewriter 4s steps(44) 1s 1 normal both,
		blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes blinkTextCursor {
	from {
		border-right-color: rgba(0, 0, 0, 1);
	}
	to {
		border-right-color: transparent;
	}
}

.devicon-devicon-plain {
	max-width: 2em;
}

.devicon-devicon-plain path {
	fill: #4691f6;
}
