@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4 {
  @apply font-extrabold pb-4;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

p {
  @apply text-lg;
}

a {
  @apply text-mid-green font-semibold hover:text-green underline hover:no-underline;
}

ul {
  @apply list-disc pl-2;
}

ul li {
  @apply text-xl pb-2;
}

.card {
  @apply p-12 border-2 border-black;
}


.slogan {
  white-space: nowrap;
  overflow: hidden;
  @apply text-dark-green;
}

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(0, 0, 0, 1);
  }
  to {
    border-right-color: transparent;
  }
}
