---
import PortfolioItem from "./PortfolioItem.astro";
import site from "../data/site.json";

const { funExperiments } = site;
---

<div class="contents">
	<article class="card col-span-full">
		<h2 id="fun-experiments">Fun Experiments</h2>
		<p class="mb-0 max-w-prose text-lg">
			A showcase of fun ideas, random passion projects, and other interests I have outside of doing great work.
		</p>
	</article>
	{funExperiments.map((item) => (
		<PortfolioItem item={item} />
	))}
</div>
