---

---
<span id="top"></span>
<section class="bg-black text-white px-12 py-4 flex justify-end  fixed w-full">
    <nav class="flex text-xl">
        <a href="#skills" class="text-white hover:text-light-green mr-8 no-underline">Skills</a>
        <a href="#personal" class="text-white hover:text-light-green mr-8 no-underline">Personal</a>
        <a href="#top" class="text-white hover:text-light-green no-underline">Back to top</a>
    </nav>
</section>
