---

import site from "../data/site.json";
const { email, resume, socials } = site;

type Social = (typeof socials)[number];
const getSocials = (array: Social[], title: string) =>
	array.filter((item) => item.title === title);
const github = getSocials(socials, 'GitHub')[0];
const linkedin = getSocials(socials, 'LinkedIn')[0];

---
<section class="px-12 py-24 md:py-36 border-2 border-black" id="personal">
    <p class="text-3xl"><a href={`mailto:${email}`}>Email me</a>, <a href={resume}>view my resume</a>, follow me on <a href={github.link}>GitHub</a>, and connect with me on <a href={linkedin.link}>LinkedIn</a>.</p>
</section>
