---

import site from "../data/site.json";
const { people } = site;

---

<article class="card">
    <h2>People I like</h2>
    <ul>
    {people.map((item) => (
        <li><a href={item.site} target="_blank" rel="noopener noreferrer">{item.name}</a></li>
    ))}
    </ul>
</article>
